.weather-card-wrapper{
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  min-width: 150px;
  
  .weather-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100px;
    min-width: 175px;
    padding: 10px;
    position: relative;

    .weather-icon{
      display: block;
      position: absolute;
      z-index: 0;
      filter: contrast(2);
      right: 0;
    }

    .row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .flex-column{
        display: flex;
        flex-direction: column;
      }

      .flex-row{
        display: flex;
        flex-direction: row;
      }

      .date{
        font-size: 14px;
      }
    }
  }
}

.pen-icon{
  cursor: pointer;
  z-index: 500;
}

.disabled{
  .weather-card{
    backdrop-filter: contrast(0.6);
    .weather-icon{
      filter: contrast(1);
    }
  }
}

.today{
  box-shadow: #0D9276 0px 0px 0px 5px;
}

.secondary-text{
  font-size: 12px;
}

.actual-degree{
  font-size: 36px;
}